{% extends '../../layouts/base.html' %}

{% block body %}
    <div class="uk-margin-medium-top">
        <form id="new-inspection-form-form" action="{% url 'inspection_forms:create' %}", method="POST">
            <h1>Inspection Form Builder</h1>
            <hr class="uk-divider-icon"/>
    
            <div class="uk-grid-small uk-margin-bottom" uk-grid>
                <div class="uk-width-1-2@s">
                    <input id="form-title-input" required class="uk-input" type="text" placeholder="Form Title">
                </div>
                <div class="uk-width-1-2@s">
                    <div class="uk-align-right">
                        <button id="clear-form" type="button" class="uk-button uk-button-danger">Clear</button>
                        <button id="save-form" type="button" class="uk-button uk-button-primary">Create</button>
                    </div>
                </div>
            </div>
            <div id="fb-editor"></div>  
            <a class="uk-margin-bottom centra-fab" href="#" uk-totop uk-scroll></a>
        </form>
    </div>
{% endblock body %}

