{% extends '../layouts/base.html' %}
{% load static %}
{% block body %}

    <div class="uk-container uk-margin-large-top">
        <div class="uk-card-default">
            <div class="uk-card-body" uk-grid>
                <div class="uk-width-1-2 uk-padding">
                    <form class="uk-padding" action="{% url 'signup' %}" method='POST'>
                        {% csrf_token %}
                        <fieldset class="uk-fieldset">

                            <legend class="uk-legend">Register</legend>

                            <div uk-grid>
                                <div class="uk-width-1-2">
                                    <label>Company Name</label>
                                    <input class="uk-input" name='company_name' type="text" placeholder="Company Name">
                                </div>
                                <div class="uk-width-1-2">
                                    <label>Account Type</label>
                                    <select name="account_type" class="uk-select">
                                        <option value="">Select One</option>
                                        <option value="vendor">Vendor</option>
                                        <option value="customer">Inspector Only</option>
                                    </select>
                                </div>
                            </div>

                            <div uk-grid class="uk-margin-small-top">
                                <div class="uk-width-1-2">
                                    <label>First Name</label>
                                    <input class="uk-input" name='first_name' type="text" placeholder="First Name">
                                </div>
                                <div class="uk-width-1-2">
                                    <label>Last Name</label>
                                    <input class="uk-input" name='last_name' type="text" placeholder="Last Name">
                                </div>
                            </div>

                            <div class="uk-margin">
                                <label>Email</label>
                                <input class="uk-input" name='email' type="email" placeholder="Email">
                            </div>
                            <div class="uk-margin">
                                <label>Password</label>
                                <input class="uk-input" name='password' type="password" placeholder="Password">
                            </div>
                            <button class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom" type="submit">Register</button>

                        </fieldset>
                    </form>
                </div>

                <div class="uk-width-1-2 uk-text-center uk-padding-remove" style="background-color: #1E87F0; ">
                    <div class="uk-padding uk-align-center" style="margin-top: 10%">
                        <p class="uk-align-center">
                            <img src="{% static 'images/qr_icon.png' %}" width=180>
                            <br/><span class="uk-text-large" style="color:white">The New Way To Perform Inspections</span>
                        </p>

                        <p class="uk-margin-medium uk-text-small" style="color: white">
                            Already have an account?<br/> <br/>
                            <a class="centra-login-button uk-button" href="/login">Log in</a>
                        </p>



                    </div>

                </div>
            </div>
        </div>
    </div>
    
{% endblock body %}

