<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Centraspect</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/css/uikit.min.css" />
        <link href="https://allfont.net/allfont.css?fonts=lucida-console" rel="stylesheet" type="text/css" />
        <link href='https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.css' rel='stylesheet' />
        <link href='https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.1/css/all.css' rel='stylesheet'>
        <link href='https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/cosmo/bootstrap.min.css' rel="stylesheet">
        <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.css' rel='stylesheet'>
        <script src="https://unpkg.com/htmx.org@1.7.0"></script>
        {% comment %} <link rel='stylesheet' href="{% static 'fullCalendar/main.css' %}" /> {% endcomment %}
        <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/colors.css' %}">
        <link rel="stylesheet" href="{% static 'css/side_nav.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>
    <body>
        {% if user.is_authenticated %}
            {% include '../shared/dashboard_nav.html' %}
        {% else %}
            {% include '../shared/nav.html' %}
        {% endif %}
        
        <div class="uk-container">
            {% block body %}
                {% comment %} body goes here {% endcomment %}
            {% endblock body %}
        </div>

        

        <script src="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/js/uikit-icons.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-formBuilder/3.7.0/form-builder.min.js" integrity="sha512-F/ISj1/L9itGCXsQja7Va2jJFR2X6dlBNZBOpBSGtAxlZw9HyaVG/JcSrVatnhMfw/jorJ4SGyRCHW9qcXN9jg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-formBuilder/3.7.0/form-render.min.js" integrity="sha512-ityF+Txko8R+5OBeP/tSUVRvGHTlTKb//1bS6WxGeQ6znlXaINK0iZhGpY7FHy+kvkJnPwJMzpfq5yyGoSogiw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
        {% comment %} <script src="{% static 'fullCalendar/main.js' %}"></script> {% endcomment %}
        <script type="module" src="{% static 'js/formBuilder.js' %}"></script>
        <script src="{% static 'js/kitBuilder.js' %}"></script>
{#        <script type="text/javascript" src="{% static 'javascripts/equipment.bundle.js' %}"></script>#}
        <script src="" async defer></script>

        
        {% block added_js %}
            
        {% endblock added_js %}


    </body>
</html>