{% extends '../../layouts/base.html' %}
{% load auth_tags %}

{% block body %}
    {% if messages %}
        {% for msg in messages %}
            {% if msg.level_tag == 'error' %}
                <div class="uk-alert-danger uk-margin-top" uk-alert>
                    <a class="uk-alert-close" uk-close></a>
                    <p>{{msg}}</p>
                </div>
            {% elif msg.level_tag == 'success' %}
                <div class="uk-alert-success uk-margin-top" uk-alert>
                    <a class="uk-alert-close" uk-close></a>
                    <p>{{msg}}</p>
                </div>

            {% elif msg.level_tag == 'warning' %}
                <div class="uk-alert-warning uk-margin-top" uk-alert>
                    <a class="uk-alert-close" uk-close></a>
                    <p>{{msg}}</p>
                </div>
            {% endif %}

        {% endfor %}

    {% endif %}

    <ul class="uk-margin-large-bottom uk-margin-top uk-subnav uk-breadcrumb">
        <li><a href="{% url 'inspection_items:list' %}">Manage Equipment</a></li>
        <li class="uk-disabled"><a>{{object.title}}</a></li>
    </ul>
    <div class="uk-container uk-margin-large-top">
        <div uk-grid>
            <div class="uk-width-2-3" align="left">
                <div uk-grid>
                    <div class="uk-width-1-2">
                        <div class="uk-card-default">
                            <div class="uk-card-body">
                                <span class="uk-text-meta">Next Due Date </span>
                                {% if object.is_past_due %}
                                    <h5 class="uk-text-danger">{{object.next_inspection_date}}</h5>
                                {% elif object.is_due_today %}
                                    <h5 class="uk-text-warning">{{object.next_inspection_date}}</h5>
                                {% else %}
                                    <h5 class="uk-text-success">{{object.next_inspection_date}}</h5>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1-2">
                        <div class="uk-card-default">
                            <div class="uk-card-body">
                                <span class="uk-text-meta">Current Closure Rate </span>
                                {% if closure_rate < 90 %}

                                    <h5 class="uk-text-bolder uk-text-danger">
                                        {{ closure_rate }}%
                                    </h5>
                                {% else %}
                                    <h5 class="uk-text-center uk-text-bolder uk-text-success">
                                        {{ closure_rate }}%
                                    </h5>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>

                <div class="uk-width-1-1 uk-margin-medium-top">
                {% if object.is_kit %}
                    <ul uk-tab>
                        <li class="uk-active"><a href="">Components</a></li>
                        <li><a href="">Inspection Log</a></li>
                    </ul>
                    <ul class="uk-switcher uk-margin">
                        <li>
                            <div uk-grid>
                                <div class="uk-width-1-2">
                                    <h4 class="uk-text-muted">Kit Components</h4>
                                </div>

                                 <div class="uk-width-1-2" align="right">
                                     {% if user|has_group:'Account Admin' or user|has_group:'Inspector' %}
                                         <a href="#add-component-modal" class="uk-button uk-button-primary"  uk-toggle>
                                            <i class="fa-solid fa-plus"></i> Add Component
                                        </a>
                                     {% endif %}

                                </div>
                            </div>

                            <table class="uk-table uk-table-divider">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Serial Number</th>
                                    <th>Model Number</th>
                                    <th>Expiration Date</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for comp in components %}
                                    <tr>
                                        <td>{{ comp.title|default_if_none:"--" }}</td>
                                        <td>{{ comp.serial_number|default_if_none:"--" }}</td>
                                        <td>{{ comp.model_number|default_if_none:"--" }}</td>
                                        <td>
                                            {{ comp.expiration_date|date }}
                                        </td>
                                        <td>
                                            {% if user|has_group:'Account Admin' or user|has_group:'Inspector' %}
                                                <a href="#edit-component-modal-{{ comp.uuid }}" uk-toggle class="uk-link-text uk-margin-small-right" uk-tooltip="title: Edit Component">
                                                   <i class="fa-solid fa-pen-to-square"></i>
                                                </a>
                                                <a href="#delete-component-modal-{{ comp.uuid }}" uk-toggle class="uk-link-text uk-margin-small-right" uk-tooltip="title: Delete From Kit">
                                                   <i class="fa-solid fa-trash"></i>
                                                </a>
                                            {% endif %}
                                            {% if user|has_group:'Account Admin' or user|has_group:'Inspector' %}
                                                <a href="#mark-component-failed-modal-{{ comp.uuid }}" uk-toggle class="uk-link-text" uk-tooltip="title: Mark As Failed/Defective">
                                                    <i class="fa-solid fa-flag"></i>
                                                </a>
                                            {% elif user|has_group:'User' and comp.kit.assigned_to == user %}
                                                 <a href="#mark-component-failed-modal-{{ comp.uuid }}" uk-toggle class="uk-link-text" uk-tooltip="title: Mark As Failed/Defective">
                                                    <i class="fa-solid fa-flag"></i>
                                                </a>
                                            {% endif %}
                                        </td>
                                    </tr>

                                     <div id="edit-component-modal-{{ comp.uuid }}" uk-modal>
                                        <div class="uk-modal-dialog uk-modal-body">
                                            <h2 class="uk-modal-title">Edit Component - {{ comp.title }}</h2>
                                            <form action="{% url 'inspection_items:edit_component' uuid=comp.uuid %}" method="post" id="edd-component-form">
                                                {% csrf_token %}
                                                <input type="hidden" name="kit_uuid" value="{{ comp.uuid }}">
                                                <label class="uk-margin-top" for="">Name<span style="color:red">*</span></label>
                                                <input name="title" type="text" class="uk-input" required="true" value="{{ comp.title }}">

                                                <label class="uk-margin-top" for="">Serial/Lot Number</label>
                                                <input name="serial_number" type="text" class="uk-input" value="{{ comp.serial_number }}">

                                                <label class="uk-margin-top" for="">Model Number</label>
                                                <input name="model_number" type="text" class="uk-input" value="{{ comp.model_number }}">

                                                <label class="uk-margin-top" for="">Expiration Date</label>
                                                <input name="expiration_date" type="date" class="uk-input" value="{{ comp.expiration_date|date:"Y-m-d" }}">
                                                <p class="uk-text-right uk-margin-top">
                                                    <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                                                    <button class="uk-button uk-button-primary" type="submit">Update</button>
                                                </p>
                                            </form>

                                        </div>
                                    </div>

                                    <div id="delete-component-modal-{{ comp.uuid }}" uk-modal>
                                        <div class="uk-modal-dialog">
                                            <button class="uk-modal-close-default" type="button" uk-close></button>
                                            <div class="uk-modal-header">
                                                <h2 class="uk-modal-title">Delete {{ comp.title }}</h2>
                                            </div>
                                            <div class="uk-modal-body">
                                                <h4>Are you sure?</h4>
                                                <p>Deleting a component from a kit is a permanent action that cannot be reverted.<br/>
                                                Would you like to continue?</p>
                                            </div>
                                            <div class="uk-modal-footer uk-text-right">
                                                <form action="{% url 'inspection_items:delete_sub_item' uuid=comp.uuid %}" method="post">
                                                    {% csrf_token %}
                                                    <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                                                    <button class="uk-button uk-button-primary" type="submit">Confirm Delete</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="mark-component-failed-modal-{{ comp.uuid }}" uk-modal>
                                        <div class="uk-modal-dialog">
                                            <button class="uk-modal-close-default" type="button" uk-close></button>
                                            <div class="uk-modal-header">
                                                <h2 class="uk-modal-title">Mark {{ comp.title }} Failed/Defective</h2>
                                            </div>
                                            <form action="{% url 'inspection_items:mark_sub_item_failed' uuid=comp.uuid %}" method="post">
                                                {% csrf_token %}
                                                <div class="uk-modal-body">
                                                    <label for="failure-reason-{{ comp.uuid }}">Why is the component being marked failed/defective?</label>
                                                    <textarea class="uk-textarea" name="failure_reason" id="failure-reason-{{ comp.uuid }}" maxlength="1000"
                                                              cols="30" rows="10" placeholder="Provide some details to explain the nature of the equipment failure or what is defective."></textarea>
                                                </div>
                                                <div class="uk-modal-footer uk-text-right">
                                                    <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                                                    <button class="uk-button uk-button-primary" type="submit">Submit</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                {% endfor %}
                            </tbody>
                        </table>
                        </li>
                        <li>
                            <div uk-grid>
                                <div class="uk-width-1-2">
                                    <h4 class="uk-text-muted">Inspection Log</h4>
                                </div>
                                <div class="uk-width-1-2 uk-text-right">
                                    {% if user|has_group:'Account Admin' or user|has_group:'Inspector'%}
                                        {% if object.failed_inspection %}
                                            <button class="uk-button uk-button-primary" disabled >Log New Inspection</button>
                                        {% elif object.form is None %}
                                            <a href="#log-inspection-modal" class="uk-button uk-button-primary" uk-toggle>Select Form</a>
                                        {% else %}
                                            <a href="{% url 'inspections:create' uuid=object.uuid %}" class="uk-button uk-button-primary">Log New Inspection</a>
                                        {% endif %}
                                    {% elif user|has_group:'User' and object.assigned_to == user %}
                                        {% if object.failed_inspection %}
                                            <button class="uk-button uk-button-primary" disabled >Log New Inspection</button>
                                        {% elif object.form is None %}
                                            <a href="#log-inspection-modal" class="uk-button uk-button-primary" uk-toggle>Select Form</a>
                                        {% else %}
                                            <a href="{% url 'inspections:create' uuid=object.uuid %}" class="uk-button uk-button-primary">Log New Inspection</a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                            <table class="uk-table uk-table-divider">
                                <thead>
                                <tr>
                                    <th>Completed Date</th>
                                    <th>Inspector</th>
                                    <th>On Time Completion</th>
                                    <th>Disposition</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for inspection in inspections %}
                                    <tr>
                                        <td>{{ inspection.completed_date|date }}</td>
                                        <td>{{ inspection.completed_by.get_full_name }}</td>

                                        {% if inspection.completed_past_due %}
                                            <td class="uk-text-danger">NO</td>
                                        {% else %}
                                            <td class="uk-text-success">YES</td>
                                        {% endif %}

                                        {% if inspection.failed_inspection %}
                                            <td class="uk-text-danger">Failed</td>
                                        {% else %}
                                            <td class="uk-text-success">Passed</td>
                                        {% endif %}

                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        </li>
                    </ul>
                {% else %}
                    <div uk-grid>
                        <div class="uk-width-1-2">
                            <h4 class="uk-text-muted">Inspection Log</h4>
                        </div>
                        <div class="uk-width-1-2 uk-text-right">
                            {% if user|has_group:'Account Admin' or user|has_group:'Inspector'%}
                                {% if object.failed_inspection %}
                                    <button class="uk-button uk-button-primary" disabled >Log New Inspection</button>
                                {% elif object.form is None %}
                                    <a href="#log-inspection-modal" class="uk-button uk-button-primary" uk-toggle>Select Form</a>
                                {% else %}
                                    <a href="{% url 'inspections:create' uuid=object.uuid %}" class="uk-button uk-button-primary">Log New Inspection</a>
                                {% endif %}
                            {% elif user|has_group:'User' and object.assigned_to == user %}
                                {% if object.failed_inspection %}
                                    <button class="uk-button uk-button-primary" disabled >Log New Inspection</button>
                                {% elif object.form is None %}
                                    <a href="#log-inspection-modal" class="uk-button uk-button-primary" uk-toggle>Select Form</a>
                                {% else %}
                                    <a href="{% url 'inspections:create' uuid=object.uuid %}" class="uk-button uk-button-primary">Log New Inspection</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>

                    <table class="uk-table uk-table-divider">
                            <thead>
                            <tr>
                                <th>Completed Date</th>
                                <th>Inspector</th>
                                <th>On Time Completion</th>
                                <th>Disposition</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for inspection in inspections %}
                                <tr>
                                    <td>{{ inspection.completed_date|date }}</td>
                                    <td>{{ inspection.completed_by.get_full_name }}</td>

                                    {% if inspection.completed_past_due %}
                                            <td class="uk-text-danger">NO</td>
                                        {% else %}
                                            <td class="uk-text-success">YES</td>
                                        {% endif %}

                                    {% if inspection.failed_inspection %}
                                        <td class="uk-text-danger">Failed</td>
                                    {% else %}
                                        <td class="uk-text-success">Passed</td>
                                    {% endif %}

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                {% endif %}

                </div>
            </div>


            <div class="uk-width-1-3">
                <div class="uk-width-1-1">

                    <div>
                        <div class="uk-card uk-card-default">
                            <div class="uk-card-media-top">
                                {% if object.failed_inspection %}
                                    <div class="uk-card-badge uk-label" style="background:#F05773">Failed Inspection</div><br/>
                                {% elif object.is_active %}
                                    <div class="uk-card-badge uk-label" style="background:#32D295">Active</div><br/>
                                {% else %}
                                    <div class="uk-card-badge uk-label" style="background:#F05773">Inactive</div><br/>
                                {% endif %}

                                <img data-src="{{object.qr_code.url}}" alt="QR Code" uk-img>

                            </div>
                            <div class="uk-card-body">
                                <h3 class="uk-card-title">
                                    {{object.title|capfirst}} &nbsp;
                                     {% if user|has_group:'Account Admin' or user|has_group:'Inspector' %}
                                         <small>
                                            <a href="{% url 'inspection_items:update' uuid=object.uuid %}" class="uk-link-text">
                                                <i class="fa-solid fa-pen-to-square"></i>
                                            </a>
                                        </small>
                                     {% endif %}

                                </h3>
                                <p>{{object.description}}</p>

                                <hr/>

                                <div uk-grid>

                                    <div class="uk-width-1-2">
                                        <dl class="uk-description-list">
                                            <dt>Type</dt>
                                            <dd>{{object.inspection_type|upper}}</dd>
                                        </dl>
                                    </div>
                                    <div class="uk-width-1-2">

                                        <dl class="uk-description-list">
                                            <dt>Interval</dt>
                                            <dd>{{object.inspection_interval|capfirst}}</dd>
                                        </dl>
                                    </div>

                                    <div class="uk-width-1-2">
                                        <dl class="uk-description-list">
                                            <dt>Assigned To</dt>
                                            {% if object.assigned_to %}
                                                <dd>
                                                    <a class="uk-link-text" href="{{ object.assigned_to.absolute_url }}">
                                                        {{object.assigned_to.get_full_name|truncatechars:15}}
                                                    </a>
                                                </dd>
                                            {% else %}
                                                <dd>--</dd>
                                            {% endif %}

                                        </dl>
                                    </div>
                                    <div class="uk-width-1-2">
                                        <dl class="uk-description-list">
                                            <dt>Form</dt>
                                            <dd>
                                                <a class="uk-link-text" href="{{object.form.get_absolute_url}}">
                                                    {{object.form.title|default_if_none:'--'|truncatechars:15}}

                                                </a>
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>

        <div id="add-component-modal" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <h2 class="uk-modal-title">Add Component - {{ object.title }}</h2>
                <form action="{% url 'inspection_items:add_component_to_kit' uuid=object.uuid %}" method="post" id="add-component-form">
                    {% csrf_token %}
                    <input type="hidden" name="kit_uuid" value="{{ object.uuid }}">
                    <label class="uk-margin-top" for="">Name<span style="color:red">*</span></label>
                    <input name="title" type="text" class="uk-input" required="true">

                    <label class="uk-margin-top" for="">Serial/Lot Number</label>
                    <input name="serial_number" type="text" class="uk-input">

                    <label class="uk-margin-top" for="">Model Number</label>
                    <input name="model_number" type="text" class="uk-input">

                    <label class="uk-margin-top" for="">Expiration Date</label>
                    <input name="expiration_date" type="date" class="uk-input">
                    <p class="uk-text-right uk-margin-top">
                        <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                        <button class="uk-button uk-button-primary" type="submit">Add</button>
                    </p>
                </form>

            </div>
        </div>

        <div id="log-inspection-modal" uk-modal>
            <div class="uk-modal-dialog">
                <button class="uk-modal-close-default" type="button" uk-close></button>
                <div class="uk-modal-header">
                    <h2 class="uk-modal-title">Select Form</h2>
                </div>
                <form action="{% url 'inspection_items:add_form' uuid=object.uuid %}" method="post">
                    <div class="uk-modal-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </div>
                    <div class="uk-modal-footer uk-text-right">
                        <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                        <button class="uk-button uk-button-primary" type="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
        
    </div>
{% endblock body %}

