:root {
    --centra-green: #009688;
    --centra-primary: #1e87f0;
    --centra-red: #C5283D;
    
    --centra-label-yellow: #fec601;
    --centra-label-purple: #5D5179;
    --centra-label-ornage: #fe6847;
    --centra-label-grey: #dfe0e2;
}