body, html {
    /* font-family: 'Lucida Console', arial!important; */
}

.centra-login-button {
    background-color: transparent;
    color:white;
    outline: white;
    border: 1px solid white;
    border-radius: 20px;
}

.centra-login-button:hover {
    text-decoration: none;
    color: white;
    background-color: #1e87f0;
}

.centra-label-red {
    background-color: #C5283D;
    color: #fff
}

.centra-label-primary {
    background: #1e87f0;
    color: #fff
}

.centra-label-yellow {
    background: #fec601;
    color: #fff
}

.centra-label-purple {
    background: #5D5179;
    color: #fff
}

.centra-label-orange {
    background: #fe6847;
    color: #fff
}

.centra-label-green {
    background: #009688;
    color: #fff
}

.centra-label-grey {
    background: #dfe0e2;
    color: rgb(36, 36, 36)
}

.empty-input-field-warning {
    border: 1px solid #C5283D;
}

.empty-input-field-warning:focus {
	outline: none;
  	border: 1px solid #C5283D;
}

.form-title-error-message {
    color: #C5283D;
}

.nav-icon {
    font-size: 20px!important;
    margin-right: 10px!important;
}

