body, html {
    /* font-family: 'Lucida Console', arial!important; */
}

.centra-login-button {
    background-color: transparent;
    color:white;
    outline: white;
    border: 1px solid white;
    border-radius: 20px;
}

.centra-login-button:hover {
    text-decoration: none;
    color: white;
    background-color: #1e87f0;
}

.centra-label-red {
    background-color: #C5283D;
    color: #fff
}

.centra-label-primary {
    background: #1e87f0;
    color: #fff
}

.centra-label-yellow {
    background: #fec601;
    color: #fff
}

.centra-label-purple {
    background: #5D5179;
    color: #fff
}

.centra-label-orange {
    background: #fe6847;
    color: #fff
}

.centra-label-green {
    background: #009688;
    color: #fff
}

.centra-label-grey {
    background: #dfe0e2;
    color: rgb(36, 36, 36)
}

.empty-input-field-warning {
    border: 1px solid #C5283D;
}

.empty-input-field-warning:focus {
	outline: none;
  	border: 1px solid #C5283D;
}

.form-title-error-message {
    color: #C5283D;
}

.nav-icon {
    font-size: 20px!important;
    margin-right: 10px!important;
}

.footer-basic {
  padding:40px 0;
  background-color:#ffffff;
  color:#4b4c4d;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}


