.uk-offcanvas-bar {
    background: var(--centra-primary);
}

.uk-navbar-container {
    background-color: var(--centra-primary)!important;
    color: white !important;
}

.uk-logo{
    color: white!important
}

.uk-navbar-container .uk-link-text {
    color: white!important
}

.uk-navbar-container .uk-navbar-toggle{
    color: white!important;
}

a .centra-fab {
    height: 20px;
    width: 20px;
    border: 2px solid black !important;
}

/* .uk-button-primary {
    background-color: var(--centra-green)!important;
}

.uk-card.uk-card-primary {
    background-color: var(--centra-green)!important;
} */