{% load static %}

<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav uk-margin-right">
            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                {% if 'login' in request.get_full_path%}
                    <li class="uk-active"><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'signup' %}">Register</a></li>
                {% elif 'signup' in request.get_full_path %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li class="uk-active"><a href="{% url 'signup' %}">Register</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'signup' %}">Register</a></li>
                {% endif %}
            {% endif %}
        </ul>

    </div>
</nav>