{% extends '../../layouts/base.html' %}


{% block body %}
    <div class="uk-container-small uk-align-center uk-margin-top">
        <div class="uk-card-default">
            <div class="uk-card-header">
                <h1>Inspection Calendar</h1>
            </div>
            <div class="uk-card-body">
                <div id='inspection-calendar' class="uk-margin-top"></div>
            </div>
        </div>

    </div>

{% endblock body %}

{% block added_js %}
    <script type="module">
        import {loadFullCalendar} from "../../../../static/js/inspectionCalendar.js"
        $(document).ready(loadFullCalendar({{items|safe}}));
    </script>

{% endblock added_js %}